.infobox{
    margin: 0 5px;
    width: 97%;
    height: 150px;
    outline: none;
    border-radius: 5px;
    border-color: lightgray;
    font-size: 0.9rem;
    padding: 5px;
    background-color: rgb(236, 252, 252);
}

.title{
    font-size: 1.2rem;
    margin: 30px 5px 5px 5px;;
    color: rgb(39, 33, 33);
}